
#container{
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 1px solid; */
}
input{
    width: 40px;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 3px solid green;
    width: 50%;

}
#rockPaperScissor{
    display: flex;
    justify-content: space-between;
    width: 80%;

}
#rock{
    padding: 10px;
    border: 1px solid;
}
#paper{
    padding: 10px;
    border: 1px solid;
}
#scissor{
    padding: 10px;
    border: 1px solid;
}
#players{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#you{
    padding: 10px;
}
#computer{
    padding: 10px;
}
#yourScore{
    font-weight: 900;
    font-size: 20px;
}
#computerScore{
    font-weight: 900;
    font-size: 20px;
}

